<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Example</key>
	<dict>
		<key>identifier1</key>
		<dict>
			<key>.attribute1</key>
			<string></string>
			<key>.attribute2</key>
			<string></string>
			<key>substyle1</key>
			<dict>
				<key>.attribute1</key>
				<string></string>
				<key>.attribute2</key>
				<string></string>
			</dict>
		</dict>
		<key>identifier2</key>
		<dict>
			<key>.attribute1</key>
			<string></string>
			<key>.attribute2</key>
			<string></string>
			<key>substyle1</key>
			<dict>
				<key>.attribute1</key>
				<string></string>
				<key>.attribute2</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>Default</key>
	<dict>
		<key>UITabBarItem</key>
		<dict>
			<key>:normal</key>
			<dict>
				<key>.titleTextAttributes</key>
				<dict>
					<key>color</key>
					<string>#cecece</string>
				</dict>
			</dict>
			<key>:selected</key>
			<dict>
				<key>.titleTextAttributes</key>
				<dict>
					<key>color</key>
					<string>#de7c57</string>
				</dict>
			</dict>
		</dict>
		<key>UITabBarItem Home</key>
		<dict>
			<key>.selectedImage</key>
			<string>icon_tab_home_selected</string>
			<key>.title</key>
			<string>XZKit</string>
			<key>.image</key>
			<string>icon_tab_home</string>
		</dict>
		<key>UITabBarItem User</key>
		<dict>
			<key>.selectedImage</key>
			<string>icon_tab_user_selected</string>
			<key>.image</key>
			<string>icon_tab_user</string>
			<key>.title</key>
			<string>User</string>
		</dict>
		<key>ThemeView</key>
		<dict>
			<key>.backgroundColor</key>
			<string>#f3f3f3</string>
			<key>textLabel</key>
			<dict>
				<key>.font</key>
				<integer>12</integer>
				<key>.text</key>
				<string>Day</string>
				<key>.textColor</key>
				<string>#111</string>
				<key>.backgroundColor</key>
				<string>#eee</string>
			</dict>
			<key>submitButton</key>
			<dict>
				<key>.titleColor</key>
				<string>#222</string>
				<key>.backgroundColor</key>
				<string>#ddd</string>
			</dict>
		</dict>
		<key>XZKitModuleListTableViewCell</key>
		<dict>
			<key>.backgroundColor</key>
			<string>#fff</string>
			<key>textLabel</key>
			<dict>
				<key>.textColor</key>
				<string>#333</string>
			</dict>
		</dict>
		<key>XZKitTabBarController</key>
		<dict>
			<key>view</key>
			<dict>
				<key>.backgroundColor</key>
				<string>#fff</string>
			</dict>
			<key>tabBar</key>
			<dict>
				<key>.barTintColor</key>
				<string>#f9f9f9</string>
			</dict>
		</dict>
		<key>XZKitModuleListTableViewController</key>
		<dict>
			<key>view</key>
			<dict>
				<key>.backgroundColor</key>
				<string>#fff</string>
			</dict>
			<key>tabBarItem</key>
			<dict>
				<key>.barTintColor</key>
				<string>#222</string>
			</dict>
		</dict>
		<key>main</key>
		<dict>
			<key>backgroundColor</key>
			<string>#ffffff</string>
		</dict>
		<key>main header</key>
		<dict>
			<key>backgroundColor</key>
			<string>#D22222</string>
		</dict>
		<key>main header btn</key>
		<dict>
			<key>backgroundColor</key>
			<string>\nil</string>
		</dict>
	</dict>
	<key>Night</key>
	<dict>
		<key>main</key>
		<dict>
			<key>backgroundColor</key>
			<string>#222</string>
		</dict>
		<key>main header</key>
		<dict>
			<key>backgroundColor</key>
			<string>#a22222</string>
		</dict>
		<key>main header btn</key>
		<dict>
			<key>backgroundColor</key>
			<string>\nil</string>
		</dict>
	</dict>
</dict>
</plist>
